.rules {
  padding-top: 170px;
  max-width: 1012px;

  

  &__input-content {
    position: relative;
  }

  &__input {
    width: 100%;
    background-color: black;
    padding: 11px 15px;
    border: none;
    border-radius: 10px;
    color: gray;
    margin-bottom: 60px;
    position: relative;
    z-index: 0;
    font-size: 16px;
  }

  &__content {
    display: flex;
    align-items: start;
    max-height: 370px;
    gap: 30px;
  }
}

// cann`t properly import logo ...
.rules__input-search {
  position: absolute;
  top: 8px;
  right: 15px;
}